/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
    url("Fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 0%, 0%);
  --clr-primary-2: hsl(170, 1%, 21%);
  --clr-primary-3: rgba(81, 80, 80, 0.5);
  --clr-primary-4: hsl(210, 1%, 32%);
  /* primary/main color */
  --clr-primary-5: hsl(195, 2%, 43%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(180, 1%, 58%);
  --clr-primary-7: hsl(220, 2%, 68%);
  --clr-primary-8: hsl(200, 2%, 70%);
  --clr-primary-9: hsl(195, 5%, 84%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  /* font-family */
  --ff-primary-1: "Playfair Display";
  --ff-primary-2: "Esteban";
  --ff-primary-3: "Bitter";
  --ff-primary-4: "Lobster";
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-9);
  color: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 100px auto;
}
p {
  margin: 100px auto;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 0;
  }
  .sidebar {
    width: 100px;
  }
}

/* section */
.section {
  font-family: "Booter - Zero Zero ";
  font-size: 2rem;
  padding: 40px;
}
header {
  font-family: "Booter - Zero Zero ";
  text-align: center;
  background-color: var(--clr-primary-3);
  background-image: url("assets/header.jpeg");
  background-blend-mode: multiply;
  background-size: cover;
  padding: 50px 100px;

  font-weight: lighter;
}
header h1 {
  font-family: "Booter - Zero Zero ";
  color: white;
  border-bottom: 50px solid var(--clr-primary-3);
}
header p {
  color: white;
}
main {
  text-align: center;
}
.meal-result{
  margin-top: 4rem;
}
#meal{
  margin: 2.4rem 0;
}
.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-img img{
  width: 100%;
  display: block;
}
.meal-name{
  padding: 1.5rem 0.5rem;
}
.meal-name h3{
  font-size: 1.4rem;
}
.recipe-btn{
  text-decoration: none;
  color: #fff;
  background: var(--tenne-tawny);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
  background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: var(--tenne-tawny);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
  display: block;
}

.meal-details-content{
  margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
  padding: 1rem 0;
}
.btn{
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}
.recipe-close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe-title{
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.recipe-category{
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.recipe-instruct{
  padding: 1rem 0;
}
.recipe-meal-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link{
  margin: 1.4rem 0;
}
.recipe-link a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
  opacity: 0.8;
}


/*  */
.notFound{
  grid-template-columns: 1fr!important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}




@media screen and (min-width: 600px){
  .meal-search-box{
      width: 540px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  #meal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .meal-item{
      margin: 0;
  }
  .meal-details{
      width: 700px;
  }
}

@media screen and (min-width: 992px){
  #meal{
      grid-template-columns: repeat(3, 1fr);
  }
}
